#pageHome {
  position: relative;
  min-width: 900px;
}
#pageHome header {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  zoom: 1;
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.2);
}
#pageHome header nav {
  float: right;
}
#pageHome li {
  display: inline-block;
}
#pageHome li > a {
  height: 70px;
  line-height: 70px;
  padding: 0 20px;
  margin-right: 16px;
}
#pageHome li > div {
  background-color: #fff;
}
#pageHome .list {
  z-index: 99;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 100%;
  left: 0px;
  max-height: 0;
  transition: all 500ms ease-in-out;
  transform-origin: top left;
  pointer-events: none;
  overflow: hidden;
}
#pageHome .list > div {
  padding: 20px;
}
#pageHome .list.active {
  max-height: 300px;
  pointer-events: auto;
}
#pageHome .list p {
  margin: 10px 0 5px;
}
#pageHome .list span {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
}
#pageHome .ant-carousel .slick-slide {
  text-align: center;
  height: 420px;
  line-height: 420px;
  background: #364d79;
  overflow: hidden;
}
#pageHome .ant-carousel .slick-slide h3 {
  color: #fff;
}
#pageHome section h3 {
  font-family: PingFangSC-Medium;
  font-size: 28px;
  color: #333;
  letter-spacing: 0;
}
#pageHome .resolution {
  padding: 40px 0;
}
#pageHome .resolution > div {
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0;
}
#pageHome .resolution > div .contain {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
}
#pageHome .resolution > div .contain .right {
  width: 615px;
}
#pageHome .resolution > div .contain .right img {
  width: 100%;
}
#pageHome .resolution > div .contain .left {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
  padding-bottom: 30px;
}
#pageHome .resolution > div .contain .left .left-item p:nth-of-type(odd) {
  color: #333;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0;
}
#pageHome .resolution > div .contain .left .left-item p:nth-of-type(even) {
  margin-top: 5px;
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #999;
  letter-spacing: 0;
  line-height: 24px;
}
#pageHome .resolution > div > p {
  font-size: 200%;
}
#pageHome .involved {
  padding: 40px 0;
}
#pageHome .involved > div {
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0;
}
#pageHome .involved > div .contain {
  position: relative;
  overflow: hidden;
  zoom: 1;
}
#pageHome .involved > div .contain .float-item {
  float: left;
  width: 25%;
}
#pageHome .involved > div .contain .float-item .inner-item {
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
}
#pageHome .involved > div .contain .float-item .inner-item > div {
  flex: 1;
}
#pageHome .involved > div .contain .float-item .inner-item > div:nth-child(2) {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#pageHome .involved > div .contain .float-item .inner-item > div:nth-child(2) p {
  font-size: 18px;
}
#pageHome .involved > div .contain .float-item .inner-item > div:nth-child(2) a {
  font-size: 12px;
  color: #38f;
}
#pageHome footer {
  background-color: #373D44;
  font-size: 14px;
  padding: 40px 0;
  line-height: 30px;
}
#pageHome footer hr {
  margin: 0 auto;
  height: 1px;
  width: 90%;
  background: radial-gradient(gray 24%, transparent 100%);
  border: none;
}
#pageHome footer div.sec_01 {
  display: relative;
  overflow: hidden;
  zoom: 1;
  width: 80%;
  margin: 0 auto;
  color: #E5E5E5;
  letter-spacing: 0.58px;
}
#pageHome footer div.sec_01 > div {
  float: left;
}
#pageHome footer div.sec_01 > div:nth-child(1) {
  width: 35%;
}
#pageHome footer div.sec_01 > div:nth-child(2) {
  width: 20%;
}
#pageHome footer div.sec_01 > div:nth-child(3) {
  width: 20%;
}
#pageHome footer div.sec_01 > div:nth-child(4) {
  width: 25%;
}
#pageHome footer div.sec_02 {
  font-size: 12px;
  color: #b6b6b6;
  padding: 30px 0;
  text-align: center;
}
/* =====================全局样式====================== */
/* =====================PC版本====================== */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 16px;
  box-sizing: border-box;
  line-height: 1.5;
  font-family: sans-serif;
  /*无衬线字体 移动端设备默认字体 都挺好看的*/
}
html {
  font: menu;
}
body {
  font-size: 16px;
}
input,
button {
  line-height: inherit;
}
/*1px 边框*/
.border_1px {
  border: 1px solid transparent;
  border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' height='2px'%3E%3Crect fill='%2300b1ff' width='100%25' height='50%25'/%3E%3C/svg%3E") 2 2 stretch;
}
@font-face {
  /*url('icon.eot?#iefix') format('embedded-opentype'),*/
  /*IE 私有的 果无须兼容 IE8 浏览器 可舍弃*/
  /*font-weight: normal;
    font-style: normal;*/
  /*没有同字体名的多字体设置，则它就是多余的*/
}
input,
textarea,
img,
video,
object {
  box-sizing: border-box;
  /*该属性存在价值是为了解决替换元素宽度自适应问题*/
}
.justify {
  /*所有浏览器两端对齐*/
  text-align: justify;
  text-justify: inter-ideograph;
  /*针对IE*/
  font-size: .1px;
  /*针对IE 设置0无效*/
  font-size: -webkit-calc(0px);
}
.justify:after {
  content: '';
  display: inline-block;
  width: 100%;
  vertical-align: bottom;
}
img {
  display: inline-block;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
.clearfix {
  *zoom: 1;
}
::-webkit-scrollbar {
  /* 血槽宽度 */
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  /* 拖动条 */
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 6px;
}
::-webkit-scrollbar-track {
  /* 背景槽 */
  background-color: #ddd;
  border-radius: 6px;
}
.cur-none {
  /*视频中光标消失*/
}
:root .cur-none {
  cursor: none;
}
/* =====================checkbox input button====================== */
/* 去掉type=number右侧上下点击按钮 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  margin: 0;
}
input {
  border: none;
  line-height: 100%;
  box-sizing: border-box;
  display: inline-block;
  padding: 10px;
  font-size: 15px;
  height: 100%;
  background: 0 0;
  width: 100%;
}
button {
  border: none;
  background-color: #1890FF;
}
/* =====================a figure====================== */
a {
  text-decoration: none;
  position: relative;
  padding-bottom: 5px;
}
a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: red;
  transform: scaleX(0);
  transition: all .5s;
}
a:link,
:visited,
:hover,
:active {
  background: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-user-select: none;
  -moz-user-focus: none;
  -moz-user-select: none;
}
a:hover::after {
  transform: scaleX(1);
}
figure {
  margin: 0px;
}
/* =====================ul li p====================== */
ul,
li,
dl,
dd {
  text-decoration: none;
  list-style: none;
  padding: 0px;
  margin: 0px;
}
p {
  margin: 0px;
  padding: 0px;
}
/* =====================部分通用组件样式====================== */
/**
*   model 模态框层级 z-index: 99999
*
**/
/* =====================Looper====================== */
.cuz-looper {
  width: 500px;
  height: 100px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.cuz-looper ul {
  width: 300%;
  height: 100%;
}
.cuz-looper ul li {
  height: 100%;
  width: 33.33333333%;
}
/* =====================Flex====================== */
.cuz-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* =====================Model====================== */
.cuz-model {
  z-index: 99999;
  position: fixed;
  width: 100%;
  height: 100%;
  transition: transform 300ms, opacity 300ms;
}
.cuz-model .body {
  width: 80%;
  margin: 8rem auto 0;
  background-color: #fff;
}
.cuz-model .body .header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 4rem;
  padding: 0 0.8rem;
}
.cuz-model .body .content {
  min-height: 8rem;
  padding: 0.8rem;
  text-indent: 2em;
}
.cuz-model .body .footer {
  height: 4rem;
  display: flex;
}
.cuz-model .body .footer div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cuz-model .body .footer div.confirm {
  flex: 1;
}
.cuz-model .body .footer div.cancel {
  flex: 1;
}
/* =====================Square====================== */
.cuz-square {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.cuz-square .func {
  margin-top: 100%;
}
.cuz-square .inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* =====================Ferris====================== */
@keyframes ferris {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes antiferris {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
.cuz-ferris {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cuz-ferris ul {
  position: relative;
  animation: ferris 40s linear infinite;
}
.cuz-ferris ul li {
  position: absolute;
  width: 100%;
  height: 100%;
}
.cuz-ferris ul li .detail {
  animation: antiferris 40s linear infinite;
}
/* =====================SerchList====================== */
.cuz-serchlist {
  width: 500px;
  margin: 0 auto;
  position: relative;
}
.cuz-serchlist .input-cover {
  width: 100%;
  height: 2rem;
  border: 1px solid #13D1BE;
  background: #fff;
  border-radius: 4px;
}
.cuz-serchlist dl {
  position: absolute;
  z-index: 9;
  top: 2rem;
  left: 0;
  background-color: #fff;
  width: 100%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cuz-serchlist dl dd {
  height: 2rem;
  padding: 10px;
  line-height: 14px;
  font-size: 14px;
}
.cuz-serchlist dl dd:hover {
  background-color: #eee;
}
/* =====================CalendarV1====================== */
.cuz-calendar {
  position: relative;
  max-width: 250px;
}
.cuz-calendar .calendar-info,
.cuz-calendar .calendar-nav {
  display: flex;
  align-items: center;
}
.cuz-calendar .calendar-info {
  justify-content: space-between;
}
.cuz-calendar .calendar-info .calendar-prev,
.cuz-calendar .calendar-info .calendar-next {
  min-width: 30px;
  text-align: center;
}
.cuz-calendar .calendar-nav {
  justify-content: center;
}
.cuz-calendar .calendar-nav .calendar-nav-item {
  flex: 1;
  text-align: center;
}
.cuz-calendar ul.calendar-main {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.cuz-calendar ul.calendar-main li {
  flex: none;
  text-align: center;
  width: 25%;
}
.cuz-calendar ul.calendar-main li[data-type="day"] {
  width: 14.28571429%;
}
/* =====================TimeAxis====================== */
.cuz-timeaxis {
  width: 100%;
  position: relative;
  border: 2px dashed #ddd;
  margin: 20px 0;
  overflow: hidden;
}
.cuz-timeaxis .timeaxis-status {
  position: absolute;
  border: 1px solid gray;
  background-color: olivedrab;
  line-height: 2;
  font-size: 18px;
  transform: rotateZ(-8deg);
  padding: 0 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  right: 8px;
  text-align: center;
  border-radius: 7px;
  max-width: 180px;
  white-space: nowrap;
}
.cuz-timeaxis .timeaxis-crossline::before {
  content: ' ';
  display: block;
  position: absolute;
  border-right: 3px solid #ddd;
  margin-left: 26%;
  height: 100%;
}
.cuz-timeaxis .cuz-timeaxis-item {
  width: 100%;
  font-style: italic;
  font-weight: bold;
  padding: 30px 20px;
  display: flex;
  align-items: flex-start;
}
.cuz-timeaxis .cuz-timeaxis-item:nth-of-type(odd) {
  color: goldenrod;
}
.cuz-timeaxis .cuz-timeaxis-item:nth-of-type(even) {
  color: cadetblue;
}
.cuz-timeaxis .cuz-timeaxis-item .timeaxis-left-item {
  font-size: 18px;
  line-height: 1.2;
  width: 25%;
  padding-right: 40px;
  text-align: right;
}
.cuz-timeaxis .cuz-timeaxis-item .timeaxis-left-item::after {
  display: inline-block;
  content: ' ';
  border: 8px solid transparent;
  border-left: 30px solid #ddd;
  position: absolute;
  margin-left: 35px;
}
.cuz-timeaxis .cuz-timeaxis-item .timeaxis-right-item {
  width: 65%;
  word-wrap: break-word;
  word-break: break-all;
  padding: 0 40px;
}
#testRxjs .video-fixed {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 320px!important;
  height: 180px!important;
  cursor: all-scroll;
}
#testRxjs .video-fixed .masker {
  display: none;
}
#testRxjs .video-fixed:hover .masker {
  display: block;
  position: absolute;
  width: 100%;
  height: 180px;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
}
#testRxjs img {
  position: absolute;
  border-radius: 50%;
  border: 3px white solid;
  transform: translate3d(0, 0, 0);
}
.test-cover::before,
.test-cover::after {
  content: ' ';
  display: block;
  height: 0px;
  clear: both;
}
.test-cover .test-item {
  float: left;
  width: 33.33333333%;
  padding: 10px;
}
.test-cover .test-item > div {
  padding: 20px 0;
  font-size: 16px;
  background-color: #eee;
}
